<app-stats-screen [vesselPlacements]="vesselPlacements"
                  [mirrored]="shouldMirrorStats"/>

<div class="board-container">
  <img src="/public/defeat.png" alt="Defeat!" class="defeat" *ngIf="loser()" (click)="closeJollyRoger()">
  <div class="grid">
    <ng-container *ngFor="let row of cells; let rowIndex = index">
      <div class="row">
        <app-cell *ngFor="let cell of row; let colIndex = index"
                  [cell]="cell"
                  [coordinate]="{row: rowIndex, col: colIndex}"
                  [signalSet]="cellClickedSig.set.bind(cellClickedSig)"
        ></app-cell>
      </div>
    </ng-container>
  </div>
</div>

<button class="sitRep-button" type="button"
        (mousedown)="sitRep.set(true)"
        (mouseup)="sitRep.set(false)"
        (touchstart)="sitRep.set(true)"
        (mouseleave)="sitRep.set(false)"
        (touchend)="sitRep.set(false)">
</button>
<label class="sitRep-label">Situation Report</label>

