:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*background-color: #b7ef90;*/
}


app-stats-screen {
  align-self: center;
  width: 90%;
  max-width: none;
}

.board-container {
  /*background: #ffffff;*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 50px auto;
  width: 80%;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.row {
  display: flex;
  gap: 2px;
}



