body {
  margin: 0;
  padding: 0;
}

.board-container {
  background: #080f13;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  width: 40vw;
  aspect-ratio: 1;
  margin: 0 auto;
  /*background: #8d5b06;*/
}



